{pre_hooks, [{"(linux|darwin)", compile, "make nif_compile CPP_DRIVER_REV=a748e9f15f6b4c46e46680357254b397ffcbb72e"}]}.
{post_hooks, [{"(linux|darwin)", clean, "make nif_clean"}]}.

{project_plugins, [rebar3_hex]}.

{deps, [
]}.

{erl_opts, [
    warnings_as_errors,
    warn_export_all
]}.

{ct_opts, [
    {sys_config, ["./benchmarks/benchmark.config"]}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            debug_info,
            nowarn_export_all
        ]}
    ]}
]}.
